# custom progressbar fork
git+https://github.com/seanbell/python-progressbar

# Feture computation and aggregation
h5py
redis
msgpack-python
msgpack_numpy
protobuf

# Net graph visualization
# Note: you should run sudo apt-get install graphviz
pygraphviz
pydot

